* {
    font-size: 16px;

    padding: 0;
}

body {

    margin: 5px;
}

/* Nav header styling */

nav {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}

nav h2 {
    padding: 5px;
}

nav ul {
    list-style: none;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links li a {
    padding: 5px;
    margin: 5px;
}

.logo {
    display: flex;
    justify-content: space-evenly;
}

/* About Me */

.about-me {
    display: flex;
    margin: 5px;
    padding: 5px;
    height: 300px;
    width: 100%;
    text-align: center;
}

.text {
    width: 50%;
    padding: 5px;
}

aside {

    width: 50%;
}

aside img {
    width: 90%;
    height: 90%;
}


/* Projects */

.project-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.project1,
.project2,
.project3 {
    height: 250px;
    width: 33%;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.project-header {
    margin-top: 5px;
    text-align: center;
}