html {
    font-size: 16px;
    margin: 0;
    padding: 0;
}


body {

    margin: 0;
    padding: 0;
    background-color: #379DAB;
}



/* Nav header styling */

nav {
    /* margin: 10px; */
    display: flex;
    justify-content: space-between;
    background-color: #2F595E;
    color: white;
    width: 100%;
    margin-bottom: 3rem;
}

nav h2 {
    padding: 5px;
    margin: .5rem 1rem;
}

nav ul {
    list-style: none;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1rem;
}

.links li a {
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}


.links li a {
    color: white;
}

.logo {
    display: flex;
    justify-content: space-evenly;
}

/* About Me */

.about-me {
    display: flex;
    /* margin: 5px; */
    padding: 5px;
    height: 400px;
    width: 100%;
    text-align: center;

}

.text {
    width: 50%;
    padding: 3rem;
    /* margin-left: .5rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    min-width: 12rem;
}

aside {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

aside img {

    width: 70%;
    /* max-height: auto; */
    border-radius: 10%;

}


/* Projects */

.project-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #C4F1F7;
}


.project1,
.project2,
.project3 {
    height: 15rem;
    width: 33%;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: .5rem;
}

.project-header {
    
    text-align: center;
    background-color: #C4F1F7;


}

.color {
    margin-top: .5rem;
    background-color: #C4F1F7 ;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

/*  skills/ Programming Languages section */


.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}




/* Footer */

footer{
    display: flex;
    background-color: #2F595E;
    height: 5rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;

}